[2019-03-18 14:17] luc-github opened #1 "Feedback ESP3D for Marlin"
New repository creation to sync with 2.X easily as now ESP32 code from @simon-jouet is part of Marlin as well as WebUI from @grownseed

So sync of ESP3D must be done on this base - as requested by @vivian-ng
Unfortunately all previous comments are now lost because part of previous fork
This should allow to do a PR, if any, to Marlin more easily I hope.

Current temporary branch https://github.com/

[2019-03-18 20:52] luc-github commented on #1
Porting is done https://github.com/luc-github/Marlin/tree/bugfix-2.0.x
now testing and SD support looks broken ... same hardware is fine with  https://github.com/luc-github/Marlin/tree/ESP32_WEBUI
will investigate what is broken

[2019-03-19 09:24] luc-github commented on #1
I wrote some instructions and listed new GCODe for wifi : https://github.com/luc-github/Marlin/wiki/Setup-for-ESP32
@vivian-ng let me know if it match your needs

[2019-03-19 09:26] luc-github opened #2 "Add missing features"
* Merge Telnet Support from GRBL_ESP32, ESP3D 3.0
* Merge Bluetooth Support from GRBL_ESP32, ESP3D 3.0
* Merge Notification Support from GRBL_ESP32, ESP3D 3.0
* TBD

[2019-03-19 13:33] vivian-ng commented on #1
@luc-github
Thank you for merging the latest changes from Marlin/bugfix-2.0.x.

After compiling, there were a few problems.
1. My test board uses the old pin definitions for ESP32 (not the ones that @simon-jouet added, which uses GPIO expander pins that are not available on my bareboard test board). Not a big issue, I simply created a new pins file for my board. But when I tried to send a pull req

[2019-03-19 13:48] luc-github commented on #1
1 - well you can PR to this repo, it should work, but you need to refork it as previous fork does not exists anymore so won't appear available.
2 - well for this part I cannot help a lot, I have the latest board from Simon (all in one) but I use the board only not a full system as my code do not touch any part of the "core" of ESP32 HAL / Marlin
<s>what do you suggest to do ?</s> just see your com

[2019-06-20 14:21] vivian-ng commented on #1
@luc-github Will you be able to merge your current repo to Marlin bugsfix-2.0.x? There were some updates to the ESP32 HAL issues which I am hoping to test out.

Also, is there any way to get long filename support in the webUI? Marlin already has long filename support in it, hopefully the webUI can be updated to read long filenames too. Just a wish list.

I am also getting "Guru Meditation Error: C

[2019-06-20 14:36] luc-github commented on #1
What update do you need ? I can sync easily in theory.
I need to see about filename. Marlin SD lib does not actually support long file name. Commands print use only short filenames or there was new SD lib integrated ?
Long filename wrote by PC can be retrieved but I am pretty sure I can write long file name with Marlin SD lib unless there was some update.
About crash I will check. What decoded sta

[2019-06-20 14:43] vivian-ng commented on #1
@luc-github Thanks for the quick reply.
Recently, there has been some work to get I2S stepper stream to work for the ESP32.
I need this [fix](https://github.com/MarlinFirmware/Marlin/pull/13743) and probably other related ones too. I have also added a new board definition, and will send you a pull request once ready.

[2019-06-20 14:44] vivian-ng commented on #1
`Guru Meditation Error: Core  1 panic'ed (LoadProhibited). Exception was unhandled.
Core 1 register dump:
PC      : 0x400014fd  PS      : 0x00060c30  A0      : 0x800df79c  A1      : 0x3ffb1e20
A2      : 0x00000000  A3      : 0xfffffffc  A4      : 0x000000ff  A5      : 0x0000ff00
A6      : 0x00ff0000  A7      : 0xff000000  A8      : 0x00000000  A9      : 0x3ffb1da0
A10     : 0x3ffb1de4  A11     : 0

[2019-06-20 15:19] luc-github commented on #1
You need to use stack decoder to give readable output of this stack

[2019-06-20 17:01] luc-github commented on #1
Ok looks there are some conflict that prevent the merging from upstream - I will work on it this week end

[2019-06-21 08:23] vivian-ng commented on #1
@luc-github Thank you for looking into this.

As for the issue with M587, I am getting problems with M589 too. I think this could be a gcode parsing error?
Anyway, here is the decoded stack:
[code]

[2019-06-21 08:30] luc-github commented on #1
May be , to reproduce issue
M587 S"xxx" P"12345678", you really put "xxx"?  or another SSID ?

[2019-06-21 09:00] vivian-ng commented on #1
`M587 S"xxx" P"12345678"`
I put in my SSID and password for xxx and 12345678. I tried both with and without quotation marks but I get errors both ways.

[2019-06-21 09:02] luc-github commented on #1
and same SSID was used and ok before ?

[2019-06-21 09:05] vivian-ng commented on #1
@luc-github Please don't worry about this issue. It could be something on my end, I don't think it is a problem with the code, since it worked before, and the web UI works to allow me to enter my wifi credentials.

[2019-06-21 09:09] luc-github commented on #1
I will check after merging done anyway - just wanted all info to reproduce ^_^

[2019-06-22 01:12] vivian-ng commented on #1
@luc-github
For long filename support in the web interface, one possibility is to use [M33](http://marlinfw.org/docs/gcode/M033.html) gcode to convert names obtained via [M20](http://marlinfw.org/docs/gcode/M020.html). Internally, though, the filenames will still have to be stored within the interface in DOS 8.3 format since [M23](http://marlinfw.org/docs/gcode/M023.html) and other SD commands use

[2019-06-22 07:57] luc-github commented on #1
@vivian-ng I am well aware of current Marlin limitations that is why I said:

*  Marlin commands only support shorname (print / delete/ etc...) that is why M20 use only short names.
* Long file names wrote by PC can be retrieved, it can be used by M33. To answer your last question, currently I do not rely on M20, my ESP3D porting generate the files list using same API as M20, I have already prepar

[2019-06-22 20:28] luc-github commented on #1
I did a rebase and fix compilations issue due to new code : https://github.com/luc-github/Marlin/tree/premerge-bugfix2-0.x
I did not tested yet but compilation and flash is Ok - will test webUI tomorow and rebase bugfix2-0.x in same way if everything is ok

[2019-06-23 05:07] vivian-ng commented on #1
Thank you @luc-github for helping with the rebase!
Is there anyway for me to help with rebase? My repo is a fork of your repo, which is a fork of the Marlin repo... how do you try to merge with the upstream of an upstream, and iron out issues with conflicts?

[2019-06-23 06:50] luc-github commented on #1
@vivian-ng  I rebased my fork and fixed conflicts manually by keeping my changes instead of conflicted ones, these conflicts are due to changes that are related to the current webUI already merged.
Then I fixed compilation issues / some code due to changes which are still related to merged WebUI and some change in Marlin API for injecting GCODE command.

In your case you ,must rebase and do same I

[2019-06-23 16:49] luc-github commented on #1
@vivian-ng I found the root cause of M587 issue - stupid memory allocation release, I have also fixed a bug not allowing to save empty password for open network.
The M503 has new behavior in output so also need to update webUI - need at least 2.1b41, I have put it in data directory
I just finished tests and did rebase on bugfix2-0.x branch -  seems ok on my side
Have fun ^_^

[2019-06-24 10:33] vivian-ng commented on #1
@luc-github
The following #include statement in `Marlin/src/HAL/HAL_ESP32/HAL.cpp` causes problems because there is no `spiffs.h` in the folder.
[code]
I could compile when I commented it out.

I2S also doesn't seem to be working. I am going to give stock Marlin a try later to see if it works.

[2019-06-24 12:40] luc-github commented on #1
@vivian-ng  Strange I may miss it in 2nd rebase because these define are not enabled - removed from code - thank you

About I2S there are now 2 init , and I have added a define as you did before may be the define is not enabled on your side.
[code]

Also I just pushed a FR on Marlinto see if there could have and alternative : https://github.com/MarlinFirmware/Marlin/issues/14390

 this would simpl

[2019-06-24 14:15] vivian-ng commented on #1
@luc-github You are my hero!
Thank you for reminding me to check my `#define I2S_STEPPER_STREAM` statements.

I had used
[code]
in my non-I2S board definition.
I changed that to:
[code]
for the board definition with I2S. Which obviously didn't work.
Changed
`#ifdef I2S_STEPPER_STREAM`
to
`#ifndef I2S_STEPPER_STREAM`
and it is working now!

As for your FR on Marlin repo, I am not very sure what you

[2019-06-24 14:20] luc-github commented on #1
Good you figured out
About Feature Request to simplify. Use Marlin and set a define and download ESP3D for Marlin lib and just put it in libraries directory and you get all working

[2019-06-24 14:21] luc-github commented on #1
So any update from Marlin are take in account if you sync Marlin repo. For ESP3D sync just sync with ESP3D lib repo

[2019-06-28 21:33] luc-github commented on #2
I will wait feedback from Marlin developers before merging the missing features, because it doe not make sense to add them if no chance to get some integration or if no one need ESP3D in Marlin
https://github.com/MarlinFirmware/Marlin/issues/14390

[2019-07-03 05:10] phantomse opened #9 "ESP32 V-Plotter"
In my search for an hanging V-Plotter I wanted to make it wireless (Battery or Power-line only)

ESP3D continues figuring out the wireless part and can be added as library in Marlin.
There is a project which has all steps needed to change in Marlin (old version) for an V-Plotter  https://github.com/RickMcConney/PenPlotter
Only since Marlin 2.0 there is support for esp32 so there may be some change

[2019-07-03 05:54] luc-github opened #10 "What is already ported ?"
SD upload,  full printer control, manual commands and output,

![image](https://user-images.githubusercontent.com/8822552/60565629-a14d5100-9d64-11e9-8d77-0d205d677f1f.png)

Marlin EEPROM editor :
![image](https://user-images.githubusercontent.com/8822552/60565715-f38e7200-9d64-11e9-9863-dd144effed47.png)

ESP3D settings configuration is working:
![image](https://user-images.githubusercontent.com/

[2019-07-03 06:02] luc-github commented on #9
Hi good question - I did not listed the ported feature but only the one missing
here you have : https://github.com/luc-github/Marlin/issues/10
I am trying to sync with Marlin 2.0 time to time but some feature are little bit different than Marlin 2.0
like EEPROM saving Marlin use SPIFFS on Marlin 2.0 when I use EEPROM feature.

About popup window not apearing - I guess you are talking about the cap

[2019-07-03 07:33] phantomse commented on #9
Only Marlin 2.1 will get polar kinematic ( still years ... )
https://github.com/MarlinFirmware/Marlin/issues/5275
there are also old versions of Repetier and GRBL with polar kinematic but non esp32 compatible.
https://github.com/jasonwebb/grbl-mega-wall-plotter
https://github.com/RickMcConney/PenPlotter
Polargraph is trying to do all from scratch on ESP32 and thereby has little progress.
We have t

[2019-07-03 07:51] luc-github commented on #9
Are you sure for GRBL_32 ? https://github.com/bdring/Grbl_Esp32/tree/Wall_Plotter
I know @bdring has some polar project and use GRBL_ESP32 : https://github.com/bdring/Polar-Coaster
they use also ESP3D ^_^

[2019-07-03 13:29] luc-github commented on #9
as you mentioned Marlin 2.0 does not fit your needs and so opened issue in grbl_esp32 I guess
|issue can be closed

[2019-07-03 13:29] #9 closed

[2019-07-03 15:44] bdring commented on #9
I have a wall plotter project I am using to learn about the Trinamic drivers. There is a branch, but it is incomplete. It is a back burner project that only gets attention as time allows. The Trinamic SPI features are in the master branch though. Stepper motors are not ideal for battery powered projects, but the Trinamic drivers have features that help. Coolstep allows you to set a max current, bu

[2019-07-13 03:19] vivian-ng commented on #10
Thank you for all the features! I really hope the community at the main Marlin repo comes to an agreement on how to integrate this back into the main repo. The current interface on the main repo for ESP32 is... lacking. Without a proper webUI, the ESP32 just becomes a limited capability STM32 microcontroller with less pins since the WiFi capability is not fully exploited.

[2019-07-13 03:26] vivian-ng commented on #2
[code]
I just want to say I appreciate the work you have been doing. Thank you.
I have added to the conversation at the main repo, and linked that FR to another discussion related to the ESP32 HAL, so let's see if others working on the HAL are willing to join in.

[2019-07-13 07:11] luc-github commented on #2
Thank you for your support ^_^, on my side I won't push more as I did, the issue is open on Marlin waiting for feedback.
In same time, no worry I will continue to sync  Marlin 2.0 FW with this fork on demand according your needs

[2019-07-17 00:27] vivian-ng commented on #1
Hi @luc-github, I think the ESP32 HAL guys have made some updates to the HAL on the main Marlin repo, will you be syncing your fork with the main repo in the near future?

Also, I really hope you can consider pushing your changes (especially everything in the HAL_ESP32 directory that does not require changes to other parts of Marlin) back to the main repo. Marlin is a community effort and the rece

[2019-07-17 06:22] luc-github commented on #1
@vivian-ng I have done the rebase and fixed the conflicts and compilation issue
* moved your pins_MRR_ESP.h to esp32 pins dir
* changed the board number to 6001 following new ESP32 board numbering
* added I2S #define in your pin file but I let you adjust the values, I have put the esp32 ones for the moment, without them compilation failed

[code]

About change yes I am considering pushing them tha

[2019-07-17 15:17] vivian-ng commented on #1
`get a decision to make either cohexistence ( add tons of #ifdef in Hal, and move files to different subdirectories),or do a complet replacement ,or allow external lib.`

Which option would make things easiest for you? Which option would you prefer?
1. Coexistence: Sounds like the easiest option to get buy-in from the Marlin people, but seems like the most work on your part.
2. Replacement: Probab

[2019-07-17 17:18] luc-github commented on #1
I am fine with any solution - of course replace all would be easier but allowing external lib would give more flexibility IMHO.
Well let see what is the decision, if any decision popup ;)

Let me know if the rebase is ok on your side

[2019-07-19 12:00] luc-github commented on #1
@vivian-ng FYI I got one issue with latest rebase,  if no temp sensor is connected then boot crash on temperature in dead loop, but no issue with 999 sensor as I do not have full system but just @simon-jouet 's board.

This issue come with latest Dynamic ADC attenuation I guess, as I did not had this issue before.

Luc

[2019-07-21 06:57] vivian-ng commented on #1
@luc-github Thank you for the rebase. I have tried compiling it, and I don't have the crashing problem without thermistor. But in the past, I always get a "thermal runaway" halt when I flash firmware onto a bare ESP32 module.

I am also getting very bad quality prints when I print a stringing test. I don't know if it has to do with temperature or filament. I will try to print something later to se

[2019-07-21 07:04] luc-github commented on #1
@vivian-ng happy to read you do not have issue, so it may be my board not ready for this

Hope you will figure out what is the print issue

[2019-08-04 08:34] luc-github commented on #1
@vivian-ng are you still on basic MRR ESPA ?
 I read here http://teck78.blogspot.com/2019/07/mrr-espa-basic-esp32-based-3d-printer.html you plan to move to i2S stepper feature , did you succeed ?
I see you board still use 4 steppers https://github.com/vivian-ng/Hardware/issues/2

[2019-08-04 08:44] vivian-ng commented on #1
@luc-github
I am still working on the MRR ESPA, which is no I2S, but that is almost done.
So I am concurrently working on the I2S version, MRR ESPE. Right now, I have a board layout for the I2S version with 4 shift registers to test out I2S features. So far, the stepper motors are working on I2S, and PWM seems to work (I have yet to actually test it out on a heated bed or hotend; I just connected

[2019-08-04 08:47] luc-github commented on #1
@vivian-ng Ok than you, so ESPE is the advanced you mentioned, understood.
enjoy your trip ^_^

[2019-08-19 01:17] i-make-robots commented on #9
I love the constant force springs.  My attempts to use bearings as you have done (keep the belt on the pulley) all resulted in lost steps.  I get how you can use the stallguard as homing switch, but how does it tell you the distance between motors?

[2019-08-19 02:17] bdring commented on #9
One of the sides has a socket for the end of the other belt. You home that belt with it installed in the socket. Then you home it again with it loose. It knows how far it had to go to home it the second time. There is a calibration value that stores the length that needs to be added to get the actual center to center dimension. Stallgaurd is accurate to about 1 full step of the motor.

The stallga

[2019-08-19 19:39] i-make-robots commented on #9
I love it!  I couldn't see that from the other side.  Do you spring load the bearing that tensions the belt on the pulley?  We failed to get it to tension consistently and it sometimes lost steps.

[2019-08-19 20:23] bdring commented on #9
The socket was not in the earlier pictures.

I have not had any lost steps yet when fully assembled. I have seen a few skips if there is loose belt on the take up side, but the spring loaded reels appear to fix that. Are you using 2 bearings?

There is no spring loading on the bearings. There are slotted holes and I just push it hard against the belt before tightening.

![image](https://user-image

[2019-08-19 20:37] i-make-robots commented on #9
I used a single rollerskate bearing on each side.

On Mon, Aug 19, 2019 at 1:23 PM bdring <notifications@github.com> wrote:

--

Dan Royer

Owner
------------------------------
1 (604) 259 9564 <16042599564> dan@marginallyclever.com
www.marginallyclever.com <https://www.facebook.com/MarginallyClever/>
<https://www.instagram.com/imakerobots/>
<https://www.youtube.com/channel/UCfbRxqjuOgE2EzRKxcePAr

[2019-08-19 23:01] i-make-robots commented on #9
Ugh, it so good looking.  I want to incorporate every good idea into the Makelangelo.

[2019-09-03 09:08] vivian-ng commented on #1
@luc-github Hi, I don't know if you have any experience with this, but there are times when I send commands during a print via the webUI, and the printer would hang with this:
`Error 0 :`

That's all, no other messages.

This happened with babystepping (I use a macro, which send M290 Z0.01), which I at first thought was a problem with Marlin. But it also happened when I tried to change the flow ra

[2019-09-03 09:18] luc-github commented on #1
@vivian-ng `Error 0:` means no answer or connection error

does `M290 Z0.01` send any answer from serial ?

[2019-09-03 09:41] vivian-ng commented on #1
@luc-github When I am printing something, and a `M290 Z0.01` gets sent, the reply is (after "busy processing") `Error 0 :`. Same with trying to change the flow rate via the webUI (which sends a `M221 Sxx`), I also get `Error 0 :`.

When I am not printing anything, there is no response to `M290 Z0.01` (I don't think the firmware responds to babystepping when not printing). Using the webUI to change

[2019-09-03 09:50] luc-github commented on #1
I will check if I can workaround the no answer from Marlin and avoid the Error 0 with web command by faking it

[2019-09-03 11:14] luc-github commented on #1
@vivian-ng I cannot reproduce the issue changing the flow rate - I got Ok answer from FW
![image](https://user-images.githubusercontent.com/8822552/64168499-f7657000-ce4b-11e9-959e-ac797764bb17.png)

I have enabled also BABYSTEPING
and sent the command  `M290 Z0.01` and same - no error 0
![image](https://user-images.githubusercontent.com/8822552/64168600-309de000-ce4c-11e9-9111-d43807fc52d3.png)

[2019-09-04 06:04] luc-github commented on #1
@vivian-ng any update ?
I can only reproduce issue when board is power off which is normal

[2019-09-04 06:10] vivian-ng commented on #1
@luc-github Thank you for testing. Can I check if you are sending the gcodes/using the webUI while the board is printing something? Because when the board is not actively running a print, the commands get through. I only get the `Error 0 :` issue when the board is printing something, and then I try to do babystepping or use the webUI to change flow.

BTW, the UI version I have says it is 2.1b41.

[2019-09-04 06:29] luc-github commented on #1
@vivian-ng sorry  I missed this part, I missread your comment
I do not have a full system, so did not try when pinting , just a  board-
In that case I think I know what the problem is,  I think it is because webserver is only handled when  idle, I was expecting idle happen when all actions in loop are done  before doing a new loop.
Ok so it is not in web-UI then

Solution is to not use idle task b

[2019-09-04 17:51] luc-github commented on #1
@vivian-ng can you give a try to https://github.com/luc-github/Marlin/commit/f9d5b73c22e7a9e1b9d84fed9b7849849e1e25ba
I moved the web handle task from idle  task to specific task and pinned it to core 0 so it won't disturb core 1 and normal Marlin functions

[2019-09-05 02:54] vivian-ng commented on #1
@luc-github Thank you for making the changes.

I tested the webUI using the new commits. This test was conducted while printer is idle.
This is the terminal output when I used the arrows to move the X and Z axis. Seems to be okay.
[code]

This is the output when I clicked on auto-check temperature, seems to be broken.
[code]
The temperature graph also does not show, as I think the webUI is unable

[2019-09-05 06:56] luc-github commented on #1
@vivian-ng it seems command are corrupted using separated task - I am back home and now can reproduce issue so I work on it

[2019-09-05 12:23] luc-github commented on #1
@vivian-ng I think it is fixed - I changed the web command using `GCodeQueue::enqueue_one_now` by filling the web socketbuffer which I was expecting to be slower but it solve the issue per my tests

I have also fixed web-UI displaying 2 temperatures output instead of one, and the Printer settings was broken due to missing "\n" in answer, the latest webUI index.html.gz is in data directory

I have

[2019-09-05 13:00] vivian-ng commented on #1
@luc-github Thank you for making the changes! I have tested it on a dry run too and it seems to work. I don't get `Error 0 :` anymore when I try to use `M290 Z0.01`. I will try to find time to connect the board up to an actual printer tomorrow to see if it can print.

The temperature graph does not update during `M190` or `M109` though. Probably because Marlin blocks commands while waiting for tem

[2019-09-05 13:25] luc-github commented on #1
Added M155 auto report support in latest webUI : https://github.com/luc-github/ESP3D-WEBUI/blob/2.1/index.html.gz

[2019-09-06 02:15] vivian-ng commented on #1
@luc-github Thank you for adding the M155 support. It works! And I like the simple but elegant way it was done.

I have tested the updated firmware with an actual print. It is able to accept commands via webUI now even when printing.

Even babystepping via M290 seems to work during prints (when not using I2S stepper stream).

[2019-09-06 07:04] luc-github commented on #1
great ^_^

[2019-10-15 13:52] vivian-ng commented on #1
I am getting reboots when using the firmware with I2S stepper stream on a coreXY setup. I think the issue has to do with I2S implementation (and have raised this issue [here](https://github.com/simon-jouet/ESP32Controller/issues/10#issuecomment-540326134)), but I can't be sure as WiFi related function calls are also being made in the decoded stack trace.

[code]
Do you think I am right to assume t

[2019-10-15 14:07] luc-github commented on #1
yes previous decoded stack show ISR issue.

if you have some doubt about wifi disable it and send G28 by serial.

[2019-10-15 14:11] luc-github commented on #1
about Marlin code and I2S I did not look at it yet.
I am just back home today so I may be able to have a look only later this week

[2019-10-16 15:03] vivian-ng commented on #1
Without WiFi (M588 S0 P1)
[code]

I guess it has to do with the I2S stepper stream. Somehow, the endstop is interfering with the planner (which it should not).

[2019-10-16 16:02] luc-github commented on #1
yes at least it narrow down where need to investigate

[2019-10-19 06:59] luc-github commented on #1
@vivian-ng I will try to reproduce later today. I do not have an I2S system because I was focusing on ESP3D part
but I will have a look to ISR issue

[2019-10-19 18:01] luc-github commented on #1
@vivian-ng if line 2228 `if (was_enabled) DISABLE_STEPPER_DRIVER_INTERRUPT();` do nothing I doubt it is the root cause
I suspect more :
[code]
using float calculation on isr to fill an int32_t is not best I think

may be try :
[code]
also try to add `IRAM_ATTR` to be sure it can be call fast from ISR call
`void IRAM_ATTR Stepper::endstop_triggered(const AxisEnum axis)`

Just some ideas

[2019-10-20 14:37] vivian-ng commented on #1
@luc-github Thank you for the advise, I will give it a try over the next few days. But my initial feel is that this is unlikely to be the problem, since the same piece of code is called when not using I2S (my ESPA board) and it works fine with coreXY. But when I use my ESPE board (which has I2S), I get a lot of resets during homing (once in a blue moon, I get lucky and it can home without reset).

[2019-10-20 14:53] luc-github commented on #1
@vivian-ng yes could be also, I2S is slower but in this case the function only do calculation

Another root cause could be as `endstops_trigsteps`  is volatile 2 steppers try to write at once in same place - so the the need of disabling ISR

Try first to comment the code between disable/enable to see if it is really this part the issue

I tried on my side without success to reproduce issue sorry

[2019-10-20 15:03] luc-github commented on #1
here a similare error : https://forum.arduino.cc/index.php?topic=620633.0

[2019-10-21 04:44] vivian-ng commented on #1
@luc-github The fix to `endstop_triggered` function to divide by integer 2 instead of multiply by float 0.5 seems to solve the reset issue.

Possibly because of this:
[Crash in timer interupt when data type "float" is used](https://esp32.com/viewtopic.php?t=1292)

Seems like the coprocessor handling interrupts doesn't like float calculations. I also added `IRAM_ATTR` just to to sure. Anyway, with

[2019-10-21 05:42] luc-github commented on #1
@vivian-ng that is a good news - so I add the fix to fw ? Or you want to test more?

do you also have Brownout reset problem.? There is a command todisable it `WRITE_PERI_REG(RTC_CNTL_BROWN_OUT_REG, 0);`

[2019-10-21 05:49] vivian-ng commented on #1
@luc-github I do not have brownout issues for now. I can understanding disabling brownout so that we do not have random resets for greater stability, but I think disabling brownout should be a very deliberate decision, since the brownout may help to indicate issues with the hardware.

And yes, if possible, maybe you can add it to the firmware (when you do the next rebase?) Also, it may be a good i

[2019-10-21 07:17] luc-github commented on #1
yes will do - another aproach would be to know why disable interrupt is commented in hal, because I suspect the reason the interrupt is disabled then enabled back is for this calculation.
for me the value is an int so it does not make sense to convert in float for calculation then convert back to int  but I am not expert in Marlin FW

[2019-10-21 07:36] luc-github commented on #1
About rebase - I did not see anything new but code reorg so unless you need specific update - I think it is not urgent

[2019-10-21 14:46] vivian-ng commented on #1
The rebase is not urgent, the divide by 2 fix is not urgent also. I am quite sure, though, that there are other parts of Marlin that is trying to use float operations in interrupts. Those will also need to be hunted down and fixed. For a start, I need to check the errors causing my resets when using the LCD to babystep and when doing manual mesh bed leveling. Chances are, they may be related to fl

[2019-10-26 14:23] jack001214 commented on #1
I just found this repo the other the day and finally got around to mess around with it. I have found issues which were already addressed by vivan-ng about the I2S implementation not 'working'.However, i seem to face another issue with the on-board ADC of Esp32 not being very linear. If i may ask will the ADC be down-sampled or is that not a thing which is being worked on.
Thanks,

[2019-10-26 15:08] luc-github commented on #1
I do not have a board suporting I2S neither using the onboard ADC.
this repo is more for the ESP3D  integration.
that said if you explain more the issue you face in I would be happy to help if you cannot find in original marlin repo

[2019-10-26 16:09] jack001214 commented on #1
Well googling around further this seems to be hardware issue and not a software issue. The ESP32 is known for a 'bad' ADC. Thanks for the response though.
Thanks

[2019-10-26 16:15] luc-github commented on #1
yes it is. that is why I suggested to use external adc   at beginning for Marlin. This is the board @simonjouet sent me. But he says after he was able to manage the issue in FW.

[2019-10-26 18:13] jack001214 commented on #1
Thanks for that. I am going to try using this source over the weekends :D

[2019-10-26 23:43] vivian-ng commented on #1
If I recall, the ADC issue was brought up some time ago, and Simon has already tweaked the firmware portion to try to get more stable readings. Those changes have also been rebased here by Luc. There are still some minor fluctuations with temperature readings but nothing that will prevent printing.

If you are not using I2S for stepper control, everything is more or less quite stable now and I rea

[2019-10-27 06:22] luc-github commented on #1
@vivian-ng the random pause happen when printing from SD or when printing from host ?

[2019-10-27 23:04] vivian-ng commented on #1
@luc-github The random pauses happen when printing from SD. Probably an issue with I2S stepper stream planner as the rest of I2S (PWM for heated bed and hotend, PWM for fan) continues to work.

[2019-10-28 08:08] felixstorm commented on #1
@jack001214 ADC is working fine for me. I had trouble in the beginning because of very noisy readings, but that went away completely after I rerouted my PCB with a lot more care on keeping I2S signals shielded and away from the analog inputs. If you're interested, you can take a look a my (very personal) PCB here: https://github.com/felixstorm/Creality_Ender_3_ESP32_Board

@vivian-ng, @luc-github

[2019-10-28 10:40] jack001214 commented on #1
@felixstorm I have seen your PCB design and well done for labeling the pins. However, Why connect the Enable pins? cant they just be shorted together and pulled down?
not gonna lie but there are countless repo's and its getting a bit confusing which one to fiddle and mess around with.

[2019-10-28 16:03] vivian-ng commented on #1
@jack001214 Give me a week or so, I find time to solder together a couple of my I2S boards and make it available for cost (probably around USD45 including shipping from Japan).

Oh @luc-github, it seems there is an even more basic board based on your fork, no I2S.
[E3d@box](https://www.facebook.com/groups/372792116726814/)
Through hole components, plus off-the-shelf modules (ESP32 dev board and DC

[2019-10-28 16:12] luc-github commented on #1
@vivian-ng  is it based on my fork ? I saw this some time ago but I saw no reference to any FW I though it was orginal Marlin - this is one of the video that pop up  when searching your videos on youtube

[2019-10-28 16:24] vivian-ng commented on #1
@luc-github I think so, since you were mentioned [here](https://www.twipu.com/darkberg_/tweet/1145595121259438080).

[2019-10-28 16:26] luc-github commented on #1
@vivian-ng wow you have keen eyes ^_^

[2019-10-28 18:02] jack001214 commented on #1
@vivian-ng  Sounds great(send us a link or something)! I now finally have an excuse to make a PCB and this might be my first one, although the success rate would be close to 0 but ill give PCB manufacturing a shot and try your board too. My printer needs five steppers to run and not four(two Z motors).

[2019-10-31 09:16] felixstorm commented on #1
@jack001214

I like the possibility to move around the extruder on my Ender 3 by hand, so it's handy for the motors to get released when not in use. I could have probably tied all enable pins together to one GPIO, but since there was no shortage of GPIOs because of I2S, I just kept them separate without thinking much about it.

[2019-11-03 10:34] bob808 opened #13 "compiling errors"
Hi,
I'm having problems compiling. Arduino IDE doesn't work, either on 1.8.10 or 1.9 beta. Can't remember the error but the guys working on Marlin recommended using platformio.
I also tried the official marlin 2.0 with platformio and it compiles ok.
But this fork I'm having troubles with even in platformio.

### Steps to Reproduce
install platformio/add Atmel SAM platform and compile

**Expected b

[2019-11-03 10:54] luc-github commented on #13
this fork is for ESP32 board why do you use due ?

[2019-11-03 11:00] bob808 commented on #13
I thought it is for ESP32 enabled marlin builds. like using esp3d with marlin

[2019-11-03 11:26] luc-github commented on #13
There is not such thing sorry -  this fork is for Marlin on ESP32 board itself = 1 board like https://github.com/maplerainresearch/MRR_ESPA or https://github.com/simon-jouet/ESP32Controller/tree/r2

I do not test Due on this fork so Due code is not as up to date - I just rebase it when ESP32 code change on Marlin 2.0 so I am behind lastest update.

to use an ESP32 board and ESP3D with  with a due

[2019-11-03 11:42] bob808 commented on #13
Ah silly me. I was reading around this repo late at night and my neurons might have fallen asleep.
So then, thank you for your work! Sure is nice.

[2019-11-03 11:42] #13 closed

[2019-11-06 00:16] vivian-ng commented on #1
@luc-github I don't know why but it seems the WiFi is blocking print moves. When WiFi experiences poor connection, I keep getting short, random pauses of a few seconds. When I turn off WiFi (M588 S0 P1), the pauses stop. No errors or any message shows on terminal (web UI or cutecom) during the pauses.

Also, there has been some recent work in the main Marlin repo that fixes some things with LCD (a

[2019-11-06 10:53] luc-github commented on #1
@vivian-ng does it happen when  webui is closed?
ok I will do rebase tonight or tomorrow

[2019-11-06 10:55] vivian-ng commented on #1
@luc-github It happens when webUI is open. But it is very random, and seems to occur only when WiFi connection is poor.

No hurry on the rebase. There are still some bugs in the new LCD code. Let's give them a bit more time to iron things out. ;)

[2019-11-07 09:33] luc-github commented on #1
@vivian-ng
About blocking: do you do any auto query or any query when happen ? or only get serial output  in command terminal  ?

About rebase: do you have a list of PR / bugfix you  want to be integrated ?

[2019-11-07 10:44] vivian-ng commented on #1
@luc-github I was not doing any query via the web UI. I was just using the command terminal to see if there is any error from the printer. At the same time, I had the board connected via USB and was observing via USB serial terminal to see if any errors are not being sent via WiFi. My suspicion about poor WiFi connection came from during heating; when heating, my start gcode has M155 S1 so that I

[2019-11-25 14:39] vivian-ng commented on #1
@jack001214 I forgot to let you know, I have a few I2S boards ready. You can find both versions (ESPA = non-I2S; ESPE = I2S) [here](https://www.maplerain.com/en/products). I also have a [page](https://www.facebook.com/mrrespx/?ref=bookmarks) on Facebook to share info on it. Anyway, more info can be found on their respective repos ([ESPA](https://github.com/maplerainresearch/MRR_ESPA) and [ESPE](ht

[2019-11-25 14:57] luc-github commented on #1
@vivian-ng mecanical part is done - but extruder for one printer - now doing the wiring and FW settings - hope to finish this week, including rebase as I have received the ender lcd so can test all

[2019-11-26 06:14] jack001214 commented on #1
This is great ill check it out.

[2019-11-27 19:26] luc-github commented on #1
@vivian-ng  rebase is done - I did a quick check with Simon's R1 board and Firmware seems OK, so far.
I have also found some issues with webUI some due to rebase, some output changed  - and others are regression issues -  I will fix them tomorrow and others if any.
FYI
https://github.com/luc-github/ESP3D-WEBUI/issues/74
https://github.com/luc-github/ESP3D-WEBUI/issues/75
https://github.com/luc-git

[2019-11-28 20:20] luc-github opened #14 "Feedback ESP3D for Marlin part2"
follow #1 as now too long

[2019-11-28 20:21] luc-github commented on #1
moved to https://github.com/luc-github/Marlin/issues/14

[2019-11-28 20:21] #1 closed

[2019-11-28 20:37] luc-github commented on #14
Quick update on rebase which is harde than expected.
 rebase is done but got  some issues that are under investigation

* WebUI need update : done

* if enabling lcd compilation failed under arduino IDE but now ok under platformIO

* using Arduino IDE EPPROM acccess is Ok (M500 succeed) but failed under PlatformIO
I have also experienced failure to connect to my router in sta mode which may relate

[2019-11-28 23:11] vivian-ng commented on #14
@luc-github Before the rebase, I was able to use LCD controller including beep with the MRR ESPE, so I will test this out again over the weekend.

BTW, for beep, remember to put the BEEPER jumper.

[2019-11-29 07:31] vivian-ng commented on #14
@luc-github I am trying to do a test compile, but I am running into errors.

I did a `git fetch upstream` and a `git merge upstream/bugfix-2.0.x`, then manually updated the conflicts to accept the incoming changes.

I tried to compile, but after several attempts, have been unsuccessful.

In HAL_ESP32
`watchdog.h` seems to be missing a `#endif` at the end of the file.
There are also double declarat

[2019-11-29 08:11] luc-github commented on #14
@vivian-ng  after a rebase git fetch upstream and a git merge upstream/bugfix-2.0.x, will go wrong  on sub fork
check my repo e.g. watchdog.h is correct, and no more HAL_XXX_ESP32 files
https://github.com/luc-github/Marlin/tree/bugfix-2.0.x/Marlin/src/HAL/HAL_ESP32

you may refork my repo to have clean environment rebase break subfork sometimes

About beeper pin, yes jumper is there

[2019-11-29 08:53] luc-github commented on #14
Ok I did a simple test : use native code of Marlin 2.0- as for encoder ESP3D is not related
change  board to BOARD_ESPRESSIF_ESP32 update RX/TX values
Change BOARD_ESPRESSIF_ESP32 pins by ESPE ones and compile

lcd works but not rotary as in rebase so issue is in Marlin and no due to rebase - will check what changed later

[2019-11-29 13:42] vivian-ng commented on #14
I did a test compile for both MRR ESPA and MRR ESPE, no issues with compiling.

Enabling CR10STOCKDISPLAY in Configuration.h also allowed me to use my Creality Ender-3 LCD controller with no issue. I have yet to test things through, though. Will do so tomorrow when I do a proper compile to make sure it can run my Ender-3 using a MRR ESPE.

Over the next few days or so, I intend to:
1. Test on Ende

[2019-11-29 14:00] luc-github commented on #14
@vivian-ng you mean on your side rotaty and beeper are working  with my latest  https://github.com/luc-github/Marlin/tree/bugfix-2.0.x   ?

[2019-11-29 14:41] vivian-ng commented on #14
@luc-github Beeper is working now... due to a stupid mistake on my part, got the pin def for the beeper pin mixed up. It is in the PR too.

[2019-11-29 14:47] luc-github commented on #14
Yes I confirm beeper is now ok
but rotary encoder turn left / turn right is not, but revert to old Marlin code and it works, so pins are ok and hardware on my side
do you still confim turn left / turn right works on your side ?

[2019-11-29 14:51] vivian-ng commented on #14
I can use the LCD controller to make menu selections and such, so I think it is working. But my board is not connected to any motors now. It is something that I will test when I have time later next week. Priority is to do a test print on my Ender-3 tomorrow running on MRR ESPE, and try out MRR ESPA on my coreXY (right now, not connected).

[2019-11-29 14:57] luc-github commented on #14
please zip your FW sources that work for MRR_ESPE and push it here

I need to check something

[2019-11-29 20:41] luc-github commented on #14
Ok I found the root cause - it is a commit that happenened  1rst of  September, I found the solution and  also found another platform has the same issue and solved in same way also in September... so much code to read an test ...
I will push the fix later - I am releived I did not do / see something wrong 😸

[2019-11-30 04:21] vivian-ng commented on #14
I am having problems with manual mesh bed leveling. When I go to the menu, select "Level Bed", the screen does not change on the LCD. On serial terminal, I get this:
[code]
The "busy processing" is when the printer is trying to home. But it seems that once the printer homes, it thinks it has completed the leveling process, and outputs the mesh (the mesh shown is the one stored in eeprom).

This is

[2019-11-30 07:18] luc-github commented on #14
@vivian-ng
Menu -> Motion ->Bed Leveling -> Level Bed ?
It is working on my side ^_^

Also I would like to suggest to  remove
`#define REVERSE_MENU_DIRECTION` from pin files it is present on Configuration.h and with my screen it is not necessary so it could be confusing if I did not know it was there

[2019-11-30 07:52] luc-github commented on #14
Ok I revert the fix as it bring an issue - no more lcd when power off / power on ....

[2019-12-01 09:06] luc-github commented on #14
Ok I reverted the revert ^_^, I unconnected all from board and flashed again the boot is now ok
I connected all back but USB and screen is now also ok when start - seems lcd is acting strangely when booting with USB connected.
Screen is ok on rebase and rotary is ok with fix. Seems rotary issue is linked to lcd brand which is not an original CR10 but a clone

[2019-12-02 23:56] vivian-ng commented on #14
@luc-github Now that Marlin 2.0.0 is officially released, will you be basing future updates on 2.0.x or the bugfix branch?

My apologies but I have yet to test out the LCD code, will try and find time over the next few days (hopefully tonight) to do so.

[2019-12-03 03:28] luc-github commented on #14
@vivian-ng will be 2.0.x or dev-2.1.x or bugfix-2.0.x depending of your needs for next rebase

[2019-12-03 06:17] vivian-ng commented on #14
@luc-github I tested out the LCD code, it works with both original Ender-3 LCD controller as well as the clone. I also managed to get manual mesh bed leveling working. It was a mistake on my part, I did not enable `LCD_BED_LEVELING` in `Configuration.h`.

I guess the rebase should be based on whichever is the main development branch for 2.0.x (the one that people are pushing changes to).

Also, I

[2019-12-03 08:35] luc-github commented on #14
Ho great - that is good news - I was afraid this change will break original CR10

the change I did were to make my config working as I flashed it with Arduino IDE which set some things in board according these flags (board_build.flash_mode = qio)

ESP32 has lot of flags in ESP3D I set them all to avoid any `confusion` due to unset https://github.com/luc-github/ESP3D/blob/3.0/platformio.ini#L18-L32

[2019-12-07 03:36] vivian-ng commented on #14
@luc-github Thank you for merging the PR.

I was testing babystepping using LCD today on the MRR ESPE (I2S). Got an error with the following:
[code]

Using babystepping by gcode gives the same error, minus the LCD portion of the stack.

This is likely an I2S issue since I tried gcode babystepping on the MRR ESPA (non-I2S) and it works.

[2019-12-07 08:14] luc-github commented on #14
@vivian-ng Ok will have a look seems timer problem again

[2019-12-07 10:28] luc-github commented on #14
@vivian-ng my ender clone just died, I got several time unresponsive and after restart  was ok. but not anymore...
can you give the gcode sequence you use for babystepping?

[2019-12-07 11:17] vivian-ng commented on #14
@luc-github There gcode I use:
`M290 Z-0.01`
and
`M290 Z0.01`
for babystepping down and up respectively.

I actually use the ESP3D and set up macros for these two. Then, after starting a print, I use the macros on the webUI to send these codes.

[2019-12-09 09:37] luc-github commented on #14
I have sent 10 times the babystep command `M290 Z0.01`  when printing and no crash
![image](https://user-images.githubusercontent.com/8822552/70424199-46d0c300-1a6f-11ea-8ad3-d4e2913eaaa7.png)
then same with  `M290 Z-0.01`
![image](https://user-images.githubusercontent.com/8822552/70424495-c78fbf00-1a6f-11ea-9913-bdbc7be74df1.png)
and still no crash

My printer is a cartesian printer FYI

Do you h

[2019-12-09 10:18] vivian-ng commented on #14
My babystepping test on MRR ESPE:
- Ender-3 (cartesian)
- TMC2130 SPI mode on X and Y axes; A4988 on Z and E0
- CR10STOCKDISPLAY

The above gave me issues with babystepping. Both when using LCD controller and when using M290 gcode. Attached are my config files.
[configs.zip](https://github.com/luc-github/Marlin/files/3939085/configs.zip)

On MRR ESPA (non-I2S), running on coreXY printer with TMC21

[2019-12-09 10:30] luc-github commented on #14
On EPSE
My TMC2208 are in standalone and used everywhere
No Screen
I will check your config but I think I already merge your config with the one you sent by PM

[2019-12-12 03:01] vivian-ng commented on #14
Just something to share.
**Do not set temperature on ESP3D webUI, then try to upload a file to the SD card.** It seems Marlin will be so "obsessed" with the upload, and forget to check if the hotend temperature is reached. It was lucky I was nearby (waiting to load filament) and saw the smoke and managed to turn off the printer in time.

[2019-12-12 08:24] luc-github commented on #14
Hi ok I will open issue for this - I will try if to have separate task for web solve the issue

[2019-12-12 08:28] luc-github opened #16 "SD upload during heating process break heat control"
per feedback from @vivian-ng https://github.com/luc-github/Marlin/issues/14#issuecomment-564828633

[2019-12-12 08:31] luc-github commented on #16
I need to check Marlin code - Heat temperature should have priority vs web or even SD
Web handle should may be have it's own task and not share the global loop

[2019-12-12 13:20] vivian-ng commented on #14
As [previously mentioned](https://github.com/luc-github/Marlin/issues/1#issuecomment-550082971), there are random pauses in the prints, sometimes a whole print taking 8 hours can complete without a pause. At other times, a 2-hour print can pause twice.

![20191210_222548](https://user-images.githubusercontent.com/24537694/70715134-ff775a80-1d2c-11ea-930f-ef75f7e30be8.jpg)

You can see the two blob

[2019-12-12 13:43] luc-github commented on #14
need to add some log to SD for this I think
you confirm this happen when printing from SD ?

[2019-12-13 03:49] vivian-ng commented on #14
@luc-github Yes, all printing via SD card.

[2019-12-13 17:44] luc-github commented on #14
@vivian-ng  I did a branch with all wifi stuff moved to a separate task and and pinned to core 0
https://github.com/luc-github/Marlin/tree/test-task
I cannot deeply test as my espe is no more heating 😭 - I sent you PM about it

[2019-12-14 10:16] luc-github commented on #14
@vivian-ng please give try to https://github.com/luc-github/Marlin/tree/test-task - WDT is fixed, I have successfully uploaded/ downloaded when heating and heat is still under control
One limitation when uploading / dowloading if `M155` is not enabled the ui is not updated as pool queries are on hold until upload/download is done  , but Marlin is still in control of temperature so  when upload is

[2019-12-14 10:17] luc-github commented on #16
please try https://github.com/luc-github/Marlin/tree/test-task and report